langchain
langgraph
langchain-mcp-adapters
langchain-google-genai
streamlit

sentence-transformers
langchain-community
langchain-core
langchain-mcp-adapters
langchain-google-genai

llama-cpp-python

pywin32





